.holy-grail,
.holy-grail-body {
  display: flex;
  flex-direction: column;
}

.holy-grail-content {
  min-width: 0;
}

.holy-grail-nav {
  order: -1;
  text-align: center;
}

@media (min-width: 768px) {
  .holy-grail-body {
    flex-direction: row;
    flex: 1;
  }

  .holy-grail-content {
    flex: 1;
  }

  .holy-grail-nav,
  .holy-grail-aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}

.map {
  display: block;
  margin: auto;
}

.legend-text {
  font-size: smaller;
}

.party-text {
  font-size: medium;
}

.tooltip {
  pointer-events: none;
}

#dropdown label {
  display: block;
}

h2,
h3 {
  text-align: center;
}

.writeup {
  margin-left: 20px;
  margin-right: 20px;
}
